# Entorno virtual
env/
venv/
.venv/

# Base de datos local
db.sqlite3

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos multimedia subidos por usuarios locales
media/

# Archivos de seguridad
.env
.env.*
!.env.example
*.pem
*.key
secrets.json
