{% extends 'ecommerce/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card p-4 border-0 shadow-lg" style="background-color: #111827; border-radius: 20px; border: 1px solid #00d2ff;">
            <h3 class="text-center mb-4 text-info fw-bold">AUTENTICACIÓN ANTRO-TECH</h3>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label class="text-white fw-bold mb-1 d-block" style="font-size: 0.9rem;">{{ field.label|upper }}</label>
                        {{ field }}
                        {% if field.help_text %}<small style="color: #cbd5e1 !important;">{{ field.help_text }}</small>{% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-info w-100 py-3 fw-bold text-dark rounded-pill mt-3">CONFIRMAR</button>
            </form>
        </div>
    </div>
</div>
<style>
    input { background: rgba(255, 255, 255, 0.1) !important; border: 1px solid rgba(255, 255, 255, 0.3) !important; color: white !important; padding: 12px !important; width: 100% !important; border-radius: 10px !important; }
</style>
{% endblock %}